In [6]:
import pandas as pd
import numpy as np
import chardet

In [7]:
# check encoding
with open('dataset/Spooky Author Identification/train.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'utf-8', 'confidence': 0.938125, 'language': ''}

In [8]:
# read in and take an overview
df = pd.read_csv('dataset/Spooky Author Identification/train.csv', delimiter=',', encoding='utf-8') # ,index_col= 0
df

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [9]:
# split dataset
length = len(df)
r = np.random.randint(0,10,size=length)
df_train = df.iloc[r < 6]
df_test = df.iloc[(r >= 6) * (r < 8)]
df_dev = df.iloc[r >= 8]

In [10]:
# save to files
output_path = './dataset/Spooky Author Identification/split/'
df_train.to_csv(output_path+'train.csv')
df_test.to_csv(output_path+'test.csv')
df_dev.to_csv(output_path+'dev.csv')
df.to_csv(output_path+'total.csv')